body {
  font-family: "Raleway";
  background-color: #fffdfd;
  margin: 0px;
  padding-bottom: 60px;
}

h2 {
  font-family: "Bodoni MT";
  font-weight: 500;
  font-size: 30px;
  color: #f48e9c;
  margin-top: 15px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  padding: 10px 20px;
  color: #f48e9c;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-text {
  font-family: "Bodoni MT";
  font-weight: 500;
  font-size: 22px;
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.navbar-links a.active {
  text-decoration: none;
  color: #f8b6bc;
}

/* Footer */

.footer {
  background-color: #303030;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
  box-sizing: border-box;
}

.top-section {
  margin-bottom: 10px;
}

.bottom-section {
  background-color: #b76e79;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.lema {
  margin-top: -20px;
  color: #ffced2;
}

.copyright {
  color: #303030;
  font-weight: 500;
}

/* Tamaño para los íconos */

.social-icons img {
  width: 35px;
  height: 35px;
}
